{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi there! 👋 I'm Ed, an Android developer and programmer originally from Oxfordshire, UK but now based in Nottingham.
<p>
    I have been programming since I was 13 years old and have a broad interest in mobile applications, application security and  computer science in general.
<p>
    You may have found me at <a href="http://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter"></i>{{ author.twitter }}</a> where I regularly update and muse on all things Android. Feel free to come and say 'Hello' 🥰

<p>
    Outside of Android, you can find me playing Pokémon games, supporting Oxford United and playing with my Pomerianian.
<p>

<img src="../img/the_dog.jpg" alt="My Pomerianian looking comfy in bed"/>

<p>

    I don't tend to reply to recruitment offers, particularly unsolicited ones. However, if you are working on something interested, please do drop me a DM on <a href="http://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a>.

<p>
    For <em>more</em> on my professional skills, please check my <a href="/other/cv/EdGeorgeCv.pdf">CV</a> (which may not be up-to-date){% if author.linkedin %} or my <a href="http://linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank">LinkedIn</a> which probably is{% endif %}.    
    
</div>