{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi there! 👋 I'm Ed, an Android developer and programmer originally from Oxfordshire, UK but now based in Nottingham.
<p>
    I have been programming since I was 13 years old and have a broad interest in mobile applications, application security and computer science in general.
<p>
    You may have found me on social media as <a href="https://bsky.app/profile/{{ author.bluesky }}"><i class="fa fa-brands fa-bluesky"></i> {{ author.bluesky }}</a> / <a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter"></i>{{ author.twitter }}</a> / <a href="https://{{ author.mastodon.server }}/@{{ author.mastodon.user }}"><i class="fa-fw fa-brands fa-mastodon"></i>{{ author.mastodon.user }}</a> / <a href="https://threads.net/{{ author.threads }}"><i class="fa-fw fa-brands fa-threads"></i>{{ author.threads }}</a> where I regularly update and muse on all things Android. Feel free to come and say 'Hello' 🥰
<p>
    In 2022 I became a Google Developer Expert in Android and have a number of relevant talks and posts available here. However, I am always looking to collaborate. Please feel free to get in contact if that is of intrest.
<p>
    Outside of Android, you can find me playing Pokémon games, supporting Oxford United and playing with my Pomerianian.
<p>

<img src="../img/the_dog.jpg" alt="My Pomerianian looking comfy in bed"/>

<p>

    I don't tend to reply to recruitment offers, particularly unsolicited ones. However, if you are working on something interested, please do drop me a DM on <a href="https://bsky.app/profile/{{ author.bluesky }}"><i class="fa fa-brands fa-bluesky"></i> Bluesky</a>, <a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a> or <a href="https://{{ author.mastodon.server }}/@{{ author.mastodon.user }}"><i class="fa-fw fa-brands fa-mastodon"></i>Mastodon</a>.

<p>
    For <em>more</em> on my professional skills, please check my <a href="/other/cv/EdGeorgeCv.pdf">CV</a> (which may not be up-to-date){% if author.linkedin %} or my <a href="http://linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank">LinkedIn</a> which almost certainly is{% endif %}.    
    
</div>