<script type="text/javascript" src="{{ site.url }}/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/main.js"></script>
{% if site.owner.google.analytics %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.owner.google.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.owner.google.analytics }}');
</script>

{% endif %}

<script type="text/javascript">
  function MastodonShare(e){
    // Get the source text
     src = e.target.getAttribute("data-src");
 
     // Get the Mastodon domain
     domain = prompt("Enter your Mastodon domain", "androiddev.social");
 
     if (domain == "" || domain == null){
         return;
     }

     const regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
     const pattern = new RegExp(regex); 

     if (pattern.test(domain)) {
       prefix = ""
     } else {
       prefix = "https://"
     }
 
     // Build the URL
     url = prefix + domain + "/share?text=" + src;
 
     // Open a window on the share page
     window.open(url, '_blank');
 }
</script>
