/* ==========================================================================
   Syntax highlighting
   ========================================================================== */


pre, code {
  font-family: $font-family-monospace;
  color: #525252;
  font-size: 0.9em;
  background-color: #f8f8f8;
  font-size: ($font-size-base - 3);
}
code {
  color: #e96900;
  border-radius: 2px;
  white-space: nowrap;
}


pre { // only apply for code blocks
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: $base-line-height * 0.925;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  color: #525252;
  span {
    word-break: break-all;
  }
}
.highlight {
  margin: 0;
  pre {
    position: relative;
  }
  pre code {
    color: #525252;
    &::before {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      text-transform: uppercase;
      font-size: 0.85em;
      padding: 5px 10px 0;
      line-height: 20px;
      height: 20px;
      font-weight: 600;
    }
  }

.hll { background-color: #eee8d5 }
.c { color: #839496 } /* Comment */
.err { color: #dc322f } /* Error */
.k { color: #6c71c4 } /* Keyword */
.l { color: #cb4b16 } /* Literal */
.n { color: #002b36 } /* Name */
.o { color: #2aa198 } /* Operator */
.p { color: #002b36 } /* Punctuation */
.cm { color: #839496 } /* Comment.Multiline */
.cp { color: #839496 } /* Comment.Preproc */
.c1 { color: #839496 } /* Comment.Single */
.cs { color: #839496 } /* Comment.Special */
.gd { color: #dc322f } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #002b36; font-weight: bold } /* Generic.Heading */
.gi { color: #859900 } /* Generic.Inserted */
.gp { color: #839496; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #2aa198; font-weight: bold } /* Generic.Subheading */
.kc { color: #6c71c4 } /* Keyword.Constant */
.kd { color: #6c71c4 } /* Keyword.Declaration */
.kn { color: #2aa198 } /* Keyword.Namespace */
.kp { color: #6c71c4 } /* Keyword.Pseudo */
.kr { color: #6c71c4 } /* Keyword.Reserved */
.kt { color: #b58900 } /* Keyword.Type */
.ld { color: #859900 } /* Literal.Date */
.m { color: #cb4b16 } /* Literal.Number */
.s { color: #859900 } /* Literal.String */
.na { color: #268bd2 } /* Name.Attribute */
.nb { color: #002b36 } /* Name.Builtin */
.nc { color: #b58900 } /* Name.Class */
.no { color: #dc322f } /* Name.Constant */
.nd { color: #2aa198 } /* Name.Decorator */
.ni { color: #002b36 } /* Name.Entity */
.ne { color: #dc322f } /* Name.Exception */
.nf { color: #268bd2 } /* Name.Function */
.nl { color: #002b36 } /* Name.Label */
.nn { color: #b58900 } /* Name.Namespace */
.nx { color: #268bd2 } /* Name.Other */
.py { color: #002b36 } /* Name.Property */
.nt { color: #2aa198 } /* Name.Tag */
.nv { color: #dc322f } /* Name.Variable */
.ow { color: #2aa198 } /* Operator.Word */
.w { color: #002b36 } /* Text.Whitespace */
.mf { color: #cb4b16 } /* Literal.Number.Float */
.mh { color: #cb4b16 } /* Literal.Number.Hex */
.mi { color: #cb4b16 } /* Literal.Number.Integer */
.mo { color: #cb4b16 } /* Literal.Number.Oct */
.sb { color: #859900 } /* Literal.String.Backtick */
.sc { color: #002b36 } /* Literal.String.Char */
.sd { color: #839496 } /* Literal.String.Doc */
.s2 { color: #859900 } /* Literal.String.Double */
.se { color: #cb4b16 } /* Literal.String.Escape */
.sh { color: #859900 } /* Literal.String.Heredoc */
.si { color: #cb4b16 } /* Literal.String.Interpol */
.sx { color: #859900 } /* Literal.String.Other */
.sr { color: #859900 } /* Literal.String.Regex */
.s1 { color: #859900 } /* Literal.String.Single */
.ss { color: #859900 } /* Literal.String.Symbol */
.bp { color: #002b36 } /* Name.Builtin.Pseudo */
.vc { color: #dc322f } /* Name.Variable.Class */
.vg { color: #dc322f } /* Name.Variable.Global */
.vi { color: #dc322f } /* Name.Variable.Instance */
.il { color: #cb4b16 } /* Literal.Number.Integer.Long */

}
